* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  flex-direction: column;

  font-family: "Calibri", "Arial Narrow", Arial, sans-serif;
}
header{
    display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.producto{
    border: 1px solid black;
}
article{
    margin: 15px;
}
article img{
    overflow: hidden;
}
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

nav a {
    text-decoration: none;
    background-color: white;
    color: red;
    padding: 1rem;
}

nav {
    background-color: red;
    height: 50px;
    align-content: center;
}

header{
    background-color: red;
    color: white;
}